#page_background {
    background-image: url(checker_purple.jpeg);
}

#page_body {
    background-color: black;
    color: aliceblue;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: monospace;

}

#front_image {
    width: 100%;
}

.flex-container {
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.container-item {
    font-family: monospace;
    flex-grow: 1;
}

a:link {
    color:#551A8B;
    text-shadow: 2px 2px #363636;
    text-decoration: none;
    font-family: monospace;
}
a:hover {
    color: aliceblue;
}

#blog-title {
    text-align: left;
}
